
.r{background: #d11a9a;}
.n{color: rgb(248, 244, 244); width: 36%; height: 450px; background-color: rgb(0, 0, 0); margin-left: 33.5%; margin-top: 8%; border: 2px solid rgb(252, 247, 247);}
.follow{text-align: center; margin-top: 14%;}
.blue{margin-top: -6%; margin-left: 1%;}
.M{margin-bottom: -10%;}

